<div class="container mt-4">
  <div class="row">
    <div class="col-12 mb-2">
      <a routerLink="/user" class="btn btn-user btn-lg btn-block mb-2">User</a>
      <a routerLink="/product" class="btn btn-product btn-lg btn-block mb-2">Product</a>
      <a routerLink="/branch" class="btn btn-branch btn-lg btn-block mb-2">Branch</a>
      <a routerLink="/sale" class="btn btn-sale btn-lg btn-block mb-2">Sale</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<notifier-container></notifier-container>


